RewriteEngine On
RewriteCond %{HTTPS} off
RewriteCond %{REQUEST_URI} !/epos/view/trgovina.php
RewriteCond %{REQUEST_URI} !/epos/view/article.php
RewriteCond %{REQUEST_URI} !/epos/controller/requestHandler.php
RewriteRule "(.*)" "https://%{HTTP_HOST}%{REQUEST_URI}"

#SSLVerifyClient require
#SSLVerifyDepth 1
#SSLOptions +ExportCertData

Header set X-Frame-Options SAMEORIGIN
